.jumbotron 
{
  background-color: #1A237E;
}

.jumbotron h1
{
  color: #EEEEEE;
}

body
{
  background-image: url("http://images.nationalgeographic.com/wpf/media-live/photos/000/333/cache/earthlights-990_33341_600x450.jpg");
}
